html {
    box-sizing: border-box;
  }
  *,
  *:before,*:after {
    box-sizing: inherit;
  }
/*----------------------- global---------------------- */
body {
  color: antiquewhite;
 
  text-align: center;
 
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  background-image: url('images/raghu-nayyar-dskdujAQU44-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
}
.content-wrap {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
  a {
    color: #FFE66D;
  }
  a:hover {
    text-decoration: none;}
  h1 {
    font-size: 100px;
    line-height: 1;
   
  }
  h2 {
    font-size: 55px;
    padding-bottom:25px;
  }
  h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
  }
  h3{
    color: aliceblue;
  }
  p{
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
  }
  .item-details h3 + p {
    font-style: italic;
  }
  .item-details h3 ~ p {
  margin: 0;
  display: flex 
  }
  
  .divider > section {
  border-bottom: 1px dashed #304d6d;
  padding: 25px 0;
  }
  .divider > section:last-of-type {
  border-bottom: none;
  }
  /* -------------------topnav--------------------- */
  #topnav {
    background-color: rgb(59, 59, 59);
    padding: 10px 75px 10px 75px;  
    overflow: hidden;
    
    /* position: fixed; */
   /* Make it stick/fixed */
 ; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s;
  }
  #topnav a {
    /* float: left; */
    float: inline-start;
    position: sticky;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
  }
  #topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  #topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  /* --------------------header------------------- */
  /* #header{
    
    /* max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: auto;
     
  } */
  #header-img {
    max-width: 500px;
    min-width: 95%;
    max-height: min-content;
    /* display: flex; */
  } 
  /* --------------------boxes---------------------- */
  .box {
   border-radius: 20px;  
   max-width:350px ;
   /* min-width: 85%; */
   height: 550px;
  
   /* position: relative; */
   display: inline-block;
   column-gap: 20px;
   justify-content: center;
  }
  #box-img{
    width: 90%;
    /* width: 300px; */
    height: 300px;
  
    position: relative;
  }
  
  .flex-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
/* align-items: baseline; */
color: #000;

  }
  .flex-container > div {
   background-color: rgba(0, 0, 0, 0.623);
   margin: 20px;
   font-size: 15px;}
  
   /* ---------------------form--------------------- */
  #form {
    padding: 0 75px;

  }
  #email {
    margin: 25px 10px 25px 10px;
  }

  /* #submit{
    margin: 25px 10px 25px 10px;
  } */
    .btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
    .btn-grad {
       margin: 10px 15px;
       padding: 15px 35px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       /* display: block; */
     }

     .btn-grad:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
     /* #video {
        max-width: 85%; */
     
    /* ------------------------footer--------------- */
  
  footer{
    /* background-color: rgb(57 75 90 ); */
    background: linear-gradient(
      to bottom right,
      #6889FF, #C668FF
    ) ;    
    display: block;
    position: relative;
    
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
    /* reamoved footer gap */
  }
  
  #more-impoortant-links {
  display: inline;
   padding: 0px; 
   padding-bottom: 20px;
   margin: 10px;
  }
  .list-inline {
    padding: 0;
    padding-top:25px;
  align-content: center;   
  }
 
  /* .part1 {
    display: inline;
    padding: 0px 10px 0px 10px;
  
  }
  .part2 {
    display: inline;
  
  }
  .part3 {
    display: inline;
   
 
  }
  .part4 {
    display: inline;
  
  } */
  /* .ut-tourism {
    display: inline-block;
    justify-content: center;
  } */
#about-us{
  padding-bottom: 20px;
}
  
/* Responsive */
.left {
  
  padding: 2px;
  float: left;
  width: 20%; 
}

.main {
  
  padding: 20px;
  float: left;
  width: 60%;
}

.right {
 
  padding: 20px;
  float: left;
  width: 20%; 
}

@media screen and (min-width: 750px) {
  header, footer {
        text-align: center;
  }
 
  h1{
   font-size: 4em;
  }
  h2 {
    line-height: 0.9;
  }
    h3 {
      font-size: 15;

    }
  
 
  } */
  
  
  #img {
    width: 85%;
    position: relative;
      /* min-height: 300px; */
     }
@media screen and (max-width: 749px) {
  h1 {
    font-size: 57px;
    line-height: 0.9;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
}
#header-img {
width: max-content;
}
#topnav {
  padding: 0;
}
#topnav a{
padding-top: 10px;
}
p {
  
 font-size: 15px;
}
h2 {
  line-height: 1;
}
.contact-list a {
  padding: 5px;
}
h3 {
  font-size: 16px;
}
}
