html {
    box-sizing: border-box;
  }
  *,
  *:before,*:after {
    box-sizing: inherit;
  }
  
/*----------------------- global---------------------- */
body {
  color: antiquewhite;
 background-color: #000000;
  text-align: center;
 
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  /* background-image: url("../images/raghu-nayyar-dskdujAQU44-unsplash.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  

 
}
.content-wrap {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
  a {
    color: #FFE66D;
  }
  a:hover {
    text-decoration: none;}
  h1 {
    font-size: 3em;
    line-height: 1;
    margin-top: 100px;
   
  }
  h2 {
    font-size: 55px;
    padding-bottom:25px;
    margin: 0px;
  }
  h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    
  }
  h3{
    color: aliceblue;
  }
  p{
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
  }
  .item-details h3 + p {
    font-style: italic;
  }
  .item-details h3 ~ p {
  margin: 0;
  display: flex 
  }
  
  .divider > section {
  border-bottom: 1px dashed #304d6d;
  padding: 25px 0;
  }
  .divider > section:last-of-type {
  border-bottom: none;
  }
  /* -------------------topnav--------------------- */
  .logo {
 max-width: 25%;
  }
  #topnav {
    background-color: rgb(59, 59, 59);
    padding: 10px 75px 10px 75px; 
     /*to solve scrolling problem and navbar problem*/
    position: fixed;
    width: 100%; 
    top: 0;
    left: 0;
    overflow: hidden;
    z-index:300;
   
    width: 100%; /* Full width */
    transition: top 0.3s;
    @media (max-width: 568px) {
      margin-top: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  #topnav a {
    float: inline-start;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
  }
  #topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  #topnav a.active {
    background-color: #939c99;
    color: white;
  }
 
  /* --------------------header------------------- */
   #header{
   position: fixed;
   width: 100%; 
   top: 0;
   left: 0;
   
     
  } 
  #header-img {
    max-width: 500px;
    /* min-width: 95%; */
    max-height: min-content;
  
    @media (max-width: 568px) {
        
      display: flex;
      flex-direction: column;
      max-width: max-content;
      max-height:10px;
    }
  } 
  /* --------------------boxes---------------------- */
  .box {
   border-radius: 20px;  
   max-width:350px ;
   /* min-width: 85%; */
   height: 550px;
  
   /* position: relative; */
   display: inline-block;
   column-gap: 20px;
   justify-content: center;
  }
  #box-img{
    width: 90%;
    /* width: 300px; */
    height: 300px;
  
    position: relative;
  }
  
  .flex-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
/* align-items: baseline; */
color: rgba(0, 0, 0, 0);

  }
  .flex-container > div {
   background-color: rgba(17, 9, 9, 0.671);
   margin: 20px;
   font-size: 15px;}
  
   /* ---------------------form--------------------- */
  #form {
    padding: 0 75px;

  }
  #email {
    margin: 25px 10px 25px 10px;
  }

  /* #submit{
    margin: 25px 10px 25px 10px;
  } */
    .btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
    .btn-grad {
       margin: 10px 15px;
       padding: 15px 35px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       /* display: block; */
     }

     .btn-grad:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
     /* #video {
        max-width: 85%; */
     
    /* ------------------------footer--------------- */
  
  footer{
    /* background-color: rgb(57 75 90 ); */
    background: linear-gradient(
      to bottom right,
      #000000, #838283
    ) ;    
    display: block;
    position: relative;
    
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
    /* reamoved footer gap */
  }
  
  #more-impoortant-links {
  display: inline;
   padding: 0px; 
   padding-bottom: 20px;
   margin: 10px;
  }
  .list-inline {
    padding: 0;
    padding-top:25px;
  align-content: center;   
  }
  
/* Responsive */
.left {
  
  padding: 2px;
  float: left;
  width: 20%; 
}

.main {
  
  padding: 20px;
  float: left;
  width: 60%;
}

.right {
 
  padding: 20px;
  float: left;
  width: 20%; 
}

@media screen and (min-width: 750px) {
  header, footer {
        text-align: center;
  }
 
  h1{
   font-size: 4em;
  }
  h2 {
    line-height: 0.9;
  }
    h3 {
      font-size: 15;

    }
  
 
  } */
  
  
  #img {
    width: 85%;
    position: relative;
      /* min-height: 300px; */
     /* }
@media screen and (max-width: 749px) {
  h1 {
    font-size: 57px;
    line-height: 0.9;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
}
#header-img {
width: max-content;
}
#topnav {
  padding: 0;
}
#topnav a{
padding-top: 10px;
}
p {
  
 font-size: 15px;
}
h2 {
  line-height: 1;
}
.contact-list a {
  padding: 5px;
}
h3 {
  font-size: 16px;
}

